
<div class="container p-5 mt-5" id="app_redirect_container">
  <div class="row">
      <div class="col-md-4 app_margin20">
        <a href="https://lexing.law/registre/login" target="blank" class="app_link">
          <mat-card class="card_redirect">
            <mat-card-header class="center">
              <mat-card-title class="app_title"> Registre RT</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img_logo" src="../../assets/logo-lexing.svg" alt="registre RT">
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4 app_margin20">
        <a href="https://lexing.law/registre-sous-traitant/login" target="blank" class="app_link">
          <mat-card class="card_redirect">
            <mat-card-header class="center">
              <mat-card-title class="app_title">Registre ST</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img_logo" src="../../assets/logo-lexing.svg" alt="registre RT">
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://lexing.law/violation-donnees/login" target="blank" class="app_link">
          <mat-card class="card_redirect">
              <mat-card-header class="center">
                <mat-card-title class="app_title"> Violations de données</mat-card-title>
              </mat-card-header>
              <img mat-card-image class="img_logo" src="../../assets/logo-lexing.svg" alt="registre RT">
              <mat-card-content>
              </mat-card-content>
          </mat-card>
        </a>
      </div>
  </div>
</div>

