<div mat-dialog-content>
    <mat-form-field id="reset-password-email">
      <input matInput placeholder="Entrez votre email" [formControl]="emailToResetPassword" [(ngModel)]="data.emailUser" required>
      <mat-error *ngIf="emailToResetPassword.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button class="validate" [mat-dialog-close]="data.emailUser" [disabled]="emailToResetPassword.invalid" cdkFocusInitial>Envoyer</button>
</div>
