<div class="container p-5 mt-5 login_circle" *ngIf="isWaitingCircle">
  <div class="offset-3 col-6">
      <mat-spinner id="wait_circle" style="margin: auto;"></mat-spinner>
  </div>
</div>
<div class="container p-5 mt-5" id="login_container" *ngIf="!isWaitingCircle">
  <div class=" col-12 login_card">
    <div class="card">
      <div class="card-header" style="text-align: center; font-size: 1.5em">
          <i class="material-icons user">account_circle</i>Connexion
      </div>
      <div class="card card-body">
        <form [formGroup]="signinForm" (submit)="onSubmit()">
          <div class="form-group">
            <div class="example-container">
              <mat-form-field class="usernameInput">
                <input matInput placeholder="Entrer votre email" formControlName="email" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="passwordInput">
              <input matInput placeholder="Mot de passe" formControlName="password" type="password" [type]="hidePassword ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="form-group">
            <button mat-raised-button class="submit" [disabled]="signinForm.invalid" type="submit">Connexion</button>
          </div>
          <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
        </form>
        <div>
          <a class="password-link" (click)="openDialog()">Mot de passe oublié</a>
        </div>
        <div>
          <button (click)="googleSignIn()">Google</button>
        </div>
        <div *ngIf="isLoadingCircle && emailUser" class="d-flex justify-content-center">
          <mat-spinner id="wait_circle2"></mat-spinner>
        </div>
        <div class="mt-3" *ngIf="errorPasswordResetMessage && !sendEmail">
          <p class="text-danger">{{ errorPasswordResetMessage }}</p>
        </div>
        <div class="mt-3" *ngIf="sendEmail && emailUser">
            <p class="text-success">Un email vient d'être envoyé à l'adresse: <i>{{emailUser}}</i></p>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="authService.user | async; then authenticated else guest">
</div>


<ng-template #guest>
<h3>Howdy, GUEST</h3>
<p>Login to get started...</p>

<button (click)="googleSignIn()">
  <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>


<ng-template #authenticated>
<div *ngIf="authService.user | async as user">
  <h3>Howdy, {{ user.displayName }}</h3>
  <img  [src]="user.photoURL">
  <p>UID: {{ user.uid }}</p>
  <p>Favorite Color: {{ user?.favoriteColor }} </p>
  <button (click)="auth.signOut()">Logout</button>
</div>
</ng-template> -->
