<div class="container p-5 mt-5" id="reset_password_container">
    <div class="col-12 login_card">
      <div class="card">
        <div class="card-header" style="text-align: center; font-size: 1.5em">
          <i class="material-icons lock">lock</i>
          Modification du mot de passe
        </div>
        <div class="card card-body">
          <div>Utilisateur: <span class="userName">{{user.email}}</span></div>
          <form [formGroup]="updatePasswordForm" (submit)="updatePassword()">
            <div class="form-group">
              <mat-form-field class="passwordInput">
                <input matInput placeholder="Nouveau mot de passe" formControlName="password" type="password" [type]="hidePassword ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <label class="col" [ngClass]="updatePasswordForm.controls['password'].hasError('required') || updatePasswordForm.controls['password'].hasError('minlength')  ? '' : 'text-success'">
                <i class="material-icons">{{ updatePasswordForm.controls['password'].hasError('required') ||
                  updatePasswordForm.controls['password'].hasError('minlength') ? 'info' :
                  'check_circle' }}</i>
                  Le mot de passe doit avoir au moins 8 caractères
              </label>
              <label class="col" [ngClass]="updatePasswordForm.controls['password'].hasError('required') || updatePasswordForm.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
                <i class="material-icons">{{ updatePasswordForm.controls['password'].hasError('required') ||
                  updatePasswordForm.controls['password'].hasError('hasNumber') ? 'info' :
                  'check_circle' }}</i>
                  Au moins un chiffre (0..9)
              </label>
              <label class="col" [ngClass]="updatePasswordForm.controls['password'].hasError('required') || updatePasswordForm.controls['password'].hasError('hasCapitalCase')  ? '' : 'text-success'">
                <i class="material-icons">{{ updatePasswordForm.controls['password'].hasError('required') ||
                  updatePasswordForm.controls['password'].hasError('hasCapitalCase') ? 'info' :
                  'check_circle' }}</i>
                  Au moins une lettre majuscule (A..Z)
              </label>
              <label class="col" [ngClass]="updatePasswordForm.controls['password'].hasError('required') || updatePasswordForm.controls['password'].hasError('hasSmallCase')  ? '' : 'text-success'">
                <i class="material-icons">{{ updatePasswordForm.controls['password'].hasError('required') ||
                  updatePasswordForm.controls['password'].hasError('hasSmallCase') ? 'info' :
                  'check_circle' }}</i>
                  Au moins une lettre minuscule (a..z)
              </label>
              <label class="col" [ngClass]="updatePasswordForm.controls['password'].hasError('required') || updatePasswordForm.controls['password'].hasError('hasSpecialCharacters') ? '' : 'text-success'">
                <i class="material-icons">{{ updatePasswordForm.controls['password'].hasError('required') ||
                  updatePasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'info' :
                  'check_circle' }}</i>
                  Au moins un caractère spécial
              </label>
            </div>
            <div class="form-group">
                <mat-form-field class="passwordInput">
                  <input matInput placeholder="Répeter le nouveau mot de passe" formControlName="confirmPassword" type="password" [type]="hideConfirmPassword ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

              <label class="text-danger" *ngIf="updatePasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                Les deux mots de passe ne correspondent pas
              </label>
            </div>
            <div class="form-group d-flex justify-content-center">
              <mat-spinner id="wait_circle3" *ngIf="isLoading"></mat-spinner>
              <button class="submit" *ngIf="!isLoading"  mat-raised-button [disabled]="updatePasswordForm.invalid" type="submit">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

